/*------ google fonts-----*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');

/*------general-----*/

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.bg-color {
    background-color: #8e24aa;
    width: 100%;
}

.upper {
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #8e24aa;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.sub-heading {
    font-family: "Lato",sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/*------header------*/

.logo {
    background: url("../images/smwhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    display: inline;
}

.logo a {
    width: 100%;
    height: auto;
    position: relative;
}


.menu {
   font-size: 18px;
   color: #fafafa;
   margin: 0;
   padding: 0;
   display: inline;
   position: relative;
}

.menu li {
    color: #fafafa;  
}

.menu li:hover, active {
    border-bottom: 2px solid #fafafa;
}

.navbar-header {
    display: inline;
}



/*--------footer------*/

footer {
    padding: 30px;
    position: fixed;
    bottom: 0;
}
.social-links {
    text-align: center;
    color: #fafafa;
    font-size: 40px;
}

.social-links a {
    color: #fafafa;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o- transition: all 0.5s ease-in-out;
}

.social-links a:hover {
    background-color: #c158dc;
}

/*------- profile-----*/

h2 i {
    color: #8e24aa;
}

.profile-text{
    padding: 100px;
}

.profile-text p{
    font-size: 18px;
}

.about {
    padding-top: 2em;
    padding-bottom: 2em;
    
}

img {
    max-width: 100%;
    display: block;
    overflow: hidden;
    height: auto;
}

.contact-info {
    background-color: #c158dc;
    height: 475px;
    text-align: center;
    color: #fafafa;
}

.contact-info .value {
    padding-left: 20px;
}

/*------ skills and experience------*/

.experience {
    padding: 100px;
    display: inline-block;
    float: none;
}

.history {
    background-color: #c158dc;
}

.work-history {
    color: #fafafa;
    font-family: "Lato",sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.work {
    padding: 4em 0em 0em 4em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
    margin-left: 12px;
}

.work p {
    padding: 0;
    margin: 0;
}

.work::before {
    content: attr(data-date);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.work::after {
    width: 14px;
    height: 14px;
    display: block;
    top: 2.5em;
    position: absolute;
    left: -6px;
    border-radius: 50%;
    content: '';
    background-color: #fafafa;
    
}

.timeline {
    margin-bottom: 25px;
}

/*-------- portfolio--------*/
.portfolio a{
    color: #8e24aa;
}

.front-end {
    border-right: 5px solid #8e24aa;
}
.front-end p, .back-end p {
    padding: 3em;
}
.front-end h2, .back-end h2 {
    text-align: center;
    padding-top: 20px;
}

.front-end h2 i, .back-end h2 i {
    font-size: 24px;
    letter-spacing: 5px;
}

@media (max-width:600px) {
    .front-end {
        border-right: none;
        border-bottom: 3px solid #8e24aa;
        padding: 0;
        margin: 0;
    }
}