/*------ google fonts-----*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');

/*------general-----*/

body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.bg-color{
    background-color: #8e24aa;
    width: 100%;
}

.upper{
    text-transform: uppercase;
}

.sub-heading{
    font-family: "Lato",sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/*------header------*/

.logo{
    background: url("../images/smwhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo a{
    width: 100%;
}

.title{
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #fafafa;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.menu{
   height: 100%;
   font-size: 18px;
   color: #fafafa;
   padding: 6%;
   margin-left: 40px;
}

.menu a{
    color: #fafafa;  
}

.menu li:hover{
    border-bottom: 2px solid #fafafa;
}

.nav-link{
    padding: 0;
}

/*--------footer------*/

footer{
    padding: 30px;
}
.social-links{
    text-align: center;
    color: #fafafa;
    font-size: 40px;
}

.social-links a{
    color: #fafafa;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o- transition: all 0.5s ease-in-out;
}

.social-links a:hover{
    background-color: #c158dc;
}

/*------- profile-----*/

h2 i{
    color: #8e24aa;
}

.about{
    padding-top: 3em;
    padding-bottom: 3em;
    
}

.contact-info{
    background-color: #eeeeee;
    height: 475px;
}

.contact-info .key{
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 500;
}

.contact-info .value{
    padding-left: 20px;
}