/*------ google fonts-----*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');

/*------general-----*/

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.bg-color {
    background-color: #8e24aa;
    width: 100%;
    border-radius: 0;
}

.upper {
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #8e24aa;
    padding-top: 10px;
    padding-bottom: 30px;
    
}

.sub-heading-white {
    font-family: "Lato",sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fafafa;
}

/*------header------*/

.logo {
    background: url("../images/smwhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    display: inline;
}

.logo a {
    width: 100%;
    height: auto;
    
}


.navbar-inverse .navbar-nav > li > a:hover, .live {
    border-bottom: 2px solid #fafafa;
    background-color: #8e24aa;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fafafa;
    background-color: #8e24aa;
    font-family: "Lato",sans-serif;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: #8e24aa;
}

.navbar-inverse .navbar-collapse , .navbar-toggle {
    border: none;
}

.navbar .container-fluid {
    justify-content: end;
}

.navbar .container-fluid .logo {
    justify-content: left;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    left: 10%;
    position: absolute;
    float: none;
    bottom: 3%;
}

@media (min-width:600px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    left: 5%;
    position: absolute;
    float: none;
    bottom: 0%;
}


@media (max-width:992px) {
    .navbar-toggle {
      display:block;
    }
  
}

@media (min-width:992px) {
  #myNavbar {
    display: block; 
  }
}
/*--------footer------*/

footer {
    padding:5px;
    position: fixed;
    bottom: 0;
}
.social-links {
    text-align: center;
    color: #fafafa;
    font-size: 40px;
}

.social-links a {
    color: #fafafa;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o- transition: all 0.5s ease-in-out;
}

.social-links a:hover {
    background-color: #c158dc;
}

/*------- profile-----*/

h2 i {
    color: #fafafa;
}

.profile-text{
    padding: 100px;
}

.profile-text p{
    font-size: 18px;
}

.about {
    padding-top: 10px;
    
}

img {
    max-width: 100%;
}

.photo {
    height: 50%;
    overflow: hidden;
}



.contact-info {
    background-color: #c158dc;
    text-align: center;
    color: #fafafa;
    
}

.contact-info .value {
    padding-left: 20px;
}

.value {
    margin-bottom: 10px;
    font-size: 18px;
}

.card {
    background-color: #c158dc;
    color: #fafafa;
}
/*------ skills and experience------*/

.experience {
    padding: 100px;
    display: inline-block;
    float: none;
}

.history {
    background-color: #c158dc;
}

.work-history {
    color: #fafafa;
    font-family: "Lato",sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.work {
    padding: 4em 0em 0em 4em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
    margin-left: 12px;
}

.work p {
    padding: 0;
    margin: 0;
}

.work::before {
    content: attr(data-date);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.work::after {
    width: 14px;
    height: 14px;
    display: block;
    top: 2.5em;
    position: absolute;
    left: -6px;
    border-radius: 50%;
    content: '';
    background-color: #fafafa;
    
}

.timeline {
    margin-bottom: 25px;
}

/*-------- portfolio--------*/
.portfolio a{
    color: #8e24aa;
}

.front-end {
    border-right: 2px solid #e0e0e0;
}
.front-end p, .back-end p {
    padding: 1em;
}
.front-end h2, .back-end h2 {
    text-align: center;
    padding-top: 20px;
    color: #c158dc;
}

.front-end h2 i, .back-end h2 i {
    font-size: 24px;
    letter-spacing: 5px;
    color: #8e24aa;
}

@media (max-width:600px) {
    .front-end {
        border-right: none;
        border-bottom: 2px solid #e0e0e0;
        padding: 0;
        margin: 0;
    }
}

.front-end img, .back-end img {
    width: 50%;
    height: auto;
    display: inline;
    padding: 0;
    float: none;
}



